body {
	line-height: 0;
}

.outer-container {
	width: 800px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0px;
	margin-bottom: 0px;
}

.container {
	background-color: black;
}

.tile {
	background-color: #E8E8E8;
	display: inline-block;
}

.row {
	clear:both;
	margin-top: -2px;
}

.passed {
	background-color: blue;
}