.tile {
	width: 30px;
	height: 30px;
	/*margin: 1px 1px -4px 0px;*/
	margin: 0px;
	background-color: red;
	display: inline-block;
	border: 1px solid white;
}

.row {
	clear:both;
	margin-top: -2px;
}

.passed {
	background-color: blue;
}